<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">


<div class="jumbotron">

    <h1 style="margin: 0 auto; text-align: center; padding-bottom: 5px; ">
      Welcome to an overly complicated fizzbuzz!
    </h1>

  <img style="display: block; margin: 0 auto;" [src]="'assets/let-me-tell-you-about-fizzbuzz.jpg'">
</div>
  <h2>Some of the technologies involved.</h2>
  <ul>
    <li>
      <h2>Containerized frontend server.</h2>
    </li>
    <li>
      <h2>Containerized backend grapgql server.</h2>
    </li>
    <li>
      <h2>Containerized MongoDB</h2>
    </li>
    <li>
      <h2>Angular 5 frontend with apollo integration</h2>
    </li>
    <li>
      <h2>TypeScript based apollo/grapgql backend</h2>
    </li>

  </ul>
</div>


On to the <a routerLink="/fizz-buzz" routerLinkActive="active">overly complicated fizzbuz</a>
